<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&subset=latin,cyrillic"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2 class="fs-1 mb-5" style="font-family: Ubuntu;">Наши партнеры</h2>
        <div class="row position-relative start-50 translate-middle-x">
            {% for i in ['https://t.me/matemateachka', 'https://t.me/proschoolmsk', 'https://vkvideo.ru/@alternativnoeobrazovanie', 'https://t.me/hard_easy_math'] %}
                <div class="col-sm-12 col-lg-3 col-md-6 col-12 g-1 mb-5 px-0">
                    <a href="{{ i }}">
                        <img src="static/partners/{{ loop.index0 }}.jpg"
                             style="width: 300px; height: 300px; object-fit: cover; ">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>

