{% extends "admin/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="">
            <div class="container position-relative">
                <div class="card col-12 col-lg-7 col-md-12 col-sm-10 px-4 py-4 my-5 position-absolute start-50 translate-middle-x">
                    <h2 class="mb-4">Add comment for {{ teacher.surname }} {{ teacher.name }}</h2>
                    <form method="post" novalidate action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.user_name.label(class="") }}
                            {{ form.user_name(class="form-control") }}
                            {% for error in form.user_name.errors %}
                                <p class="alert alert-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            {{ form.comment.label }}
                            {{ form.comment(class="form-control", rows=5) }}
                            {% for error in form.comment.errors %}
                                <p class="alert alert-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="mb-5">
                            {{ form.feedback.label }}
                            {{ form.feedback(class='form-range', min=1, max=5, step=1) }}

                        </div>

                        {{ form.submit(class='btn btn-primary fs-5') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}