{% extends "admin/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container position-relative">
                <div class="card col-12 col-lg-5 col-md-6 col-sm-6 px-4 py-4 my-5 position-absolute start-50 translate-middle-x">
                    <h1 class="mb-4">Edit Teacher</h1>
                    <form method="post" novalidate action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="mb-2">
                            {{ form.surname.label(class="") }}
                            {{ form.surname(class="form-control") }}
                        </div>
                        <div class="mb-5">
                            {{ form.name.label(class="") }}
                            {{ form.name(class="form-control") }}
                        </div>

                        <div class="mb-5">
                            {{ form.tariff.label(class="") }}
                            {{ form.tariff(class="form-control") }}
                            {% for error in form.tariff.errors %}
                                <p class="alert alert-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="mb-5">
                            {{ form.student_class.label(class="") }}
                            {{ form.student_class(class="form-control") }}
                            {% for error in form.student_class.errors %}
                                <p class="alert alert-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="mb-5">
                            {{ form.school.label(class="") }}
                            {{ form.school(class="form-control") }}
                        </div>

                        {#                        <div class="mb-2">#}
                        {#                            {{ form.image_link.label }}#}
                        {#                            {{ form.image_link(class='form-control', placeholder='not necessary') }}#}
                        {#                        </div>#}

                        <div class="mb-5">
                            {{ form.image.label }}
                            {{ form.image(class="form-control", type='file', accept='image/*') }}
                            <img src="{{ form.image_path }}" class="mt-2" style="max-width: 500px; height: auto">
                        </div>

                        <div class="mb-5">
                            <span>Subject</span>
                            {% for i in all_subjects %}
                                <div class="form-check">
                                    {% if i.name in form.subjects %}
                                        <input class="form-check-input" type="checkbox" name="subjects" id="radio"
                                               value="{{ i.name }}" checked>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name="subjects" id="radio"
                                               value="{{ i.name }}">
                                    {% endif %}
                                    <label class="form-check-label" for="radio">{{ i.name }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            <span>Achievements</span>
                            {% for i in all_achievements %}
                                <div class="form-check">
                                    {% if i.name in form.achievements %}
                                        <input class="form-check-input" type="checkbox" name="achievements" id="radio"
                                               value="{{ i.name }}" checked>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name="achievements" id="radio"
                                               value="{{ i.name }}">
                                    {% endif %}
                                    <label class="form-check-label"
                                           for="radio">{{ ' '.join(i.name.split('_')) }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mb-5">
                            {{ form.achievements_text.label }}
                            {{ form.achievements_text(class='form-control', rows=5, placeholder='Achievements...') }}
                        </div>

                        <div class="mb-3">
                            <span>Hobbies</span>
                            {% for i in all_hobbies %}
                                <div class="form-check">
                                    {% if i.name in form.hobbies %}
                                        <input class="form-check-input" type="checkbox" name="hobbies" id="radio"
                                               value="{{ i.name }}" checked>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name="hobbies" id="radio"
                                               value="{{ i.name }}">
                                    {% endif %}
                                    <label class="form-check-label"
                                           for="radio">{{ ' '.join(i.name.split('_')) }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mb-5">
                            {{ form.hobbies_text.label }}
                            {{ form.hobbies_text(class='form-control', rows=5, placeholder='Hobbies...') }}
                        </div>

                        <div class="mb-5">
                            {{ form.feedback.label }}
                            {{ form.feedback(class='form-range', min=1, max=5, step=1) }}

                        </div>


                        <div class="mb-5">
                            {{ form.about_text.label }}
                            {{ form.about_text(class='form-control', rows=5, placeholder='about person...') }}
                        </div>

                        {{ form.submit(class='btn btn-primary fs-5') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}