{% extends 'admin/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container position-relative">
                <div class="card col-12 col-lg-5 col-md-6 col-sm-6 px-4 py-4 my-5 position-absolute start-50 translate-middle-x">
                    <h1 class="mb-4">Edit free text</h1>
                    <form method="post" novalidate action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="mb-5">
                            {{ form.text.label(class='mb-3') }}
                            {{ form.text(class='form-control', rows=5, placeholder='free text...') }}
                        </div>
                        {{ form.submit(class='btn btn-primary fs-5') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}