{% extends 'admin/base.html' %}

{% block content %}

    <div class="mx-3">
        <div class="mb-4 mt-3 text-center">
            <h1 class="fs-1 mb-4">{{ teacher.surname }} {{ teacher.name }}</h1>
            <h1>Логин: teacher_{{ teacher.id }}</h1>
            {% if current_user.teacher %}
                <h1>Заходы в профиль - <b>{{ teacher.shown_times }}</b> раз</h1>
                <h1>Процент - <b>{{ percent }}</b>%</h1>
            {% endif %}
        </div>
        <div class="container text-center text-lg-start mt-3 d-lg-inline-flex mx-lg-5 me-5" style="padding-left: 0">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="mb-5 d-lg-inline-flex">
                    <img class="" src="/static/teachers_images/{{ teacher.image }}"
                         style="border-radius: 30px; width: 350px; height: auto">
                    {% if teacher.is_free %}
                        <div class="px-4 py-5 text-center ms-0 ms-lg-5 fs-5 mt-4 mt-lg-0"
                             style="border-radius: 30px; background-color: #4d1cca; color: white; height: 100%; width: 100%">
                            {{ text }}
                        </div>
                    {% endif %}
                </div>
                <div class="px-3 pt-3" style="border-radius: 30px; background-color: #bbbbbb">
                    <h2 class="fs-2 mb-3">Общая информация:</h2>
                    <div class="ps-3 pb-3">
                        <h5 class="fs-5 mb-2">Предмет: <strong>{{ teacher.subjects[0].name }}</strong></h5>
                        <h5 class="fs-5 mb-2">Класс: <strong>{{ teacher.students_class }}</strong></h5>
                        <h5 class="fs-5 mb-2">Достижения: <strong>{{ teacher.achievements_text }}</strong></h5>
                        <h5 class="fs-5 mb-2">Тариф: <strong>{{ teacher.tariff }} руб/ч</strong></h5>
                        <h5 class="fs-5 mb-2">Хобби: <strong>{{ teacher.hobbies_text }}</strong></h5>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-1"></div>
            <div class="about mt-4 col-lg-5 col-sm-12 col-md-12 col-12 ms-lg-5 ms-1">
                <div class="mb-5">
                    <h2 class="mb-3">Рассказ о себе:</h2>
                    <span class="fs-5 mb-5" style="">{{ teacher.about_text }}</span>
                </div>

                <div>
                    <h2>Расписание</h2>
                    <table class="table text-center table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            {% for day in days %}
                                <th>{{ day }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        {% for time in range(14, 22) %}
                            <tr>
                                <th>{{ time }}</th>
                                {% for day in days %}
                                    {% if time|string in schedule[day] %}
                                        <th>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clipboard2-heart-fill"
                                                 viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M10.058.501a.5.5 0 0 0-.5-.501h-2.98c-.276 0-.5.225-.5.501A.5.5 0 0 1 5.582 1a.497.497 0 0 0-.497.497V2a.5.5 0 0 0 .5.5h4.968a.5.5 0 0 0 .5-.5v-.503A.497.497 0 0 0 10.555 1a.5.5 0 0 1-.497-.499"/>
                                                <path fill-rule="evenodd"
                                                      d="M4.174 1h-.57a1.5 1.5 0 0 0-1.5 1.5v12a1.5 1.5 0 0 0 1.5 1.5h9a1.5 1.5 0 0 0 1.5-1.5v-12a1.5 1.5 0 0 0-1.5-1.5h-.642q.084.236.085.5V2c0 .828-.668 1.5-1.492 1.5H5.581A1.496 1.496 0 0 1 4.09 2v-.5q.001-.264.085-.5Zm3.894 5.482c1.656-1.673 5.795 1.254 0 5.018-5.795-3.764-1.656-6.69 0-5.018"/>
                                            </svg>
                                        </th>
                                    {% else %}
                                        <th></th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div>
                    <h2 class="mt-5 mb-3">Отзывы:</h2>
                    {% if teacher.feedback %}
                        {% for i in range(teacher.feedback) %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                 class="bi bi-star-fill fs-1" viewBox="0 0 16 16" style="color: #FFD27D">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        {% endfor %}
                        <div class="mt-4 mb-5">
                        <div class="mb-4">
                            {% for comment in teacher.comments %}
                                <div class="card p-3 mb-3">
                                    <h4>{{ comment.user_name }}</h4>
                                    <p class="fs-6">{{ comment.text }}</p>
                                    <div class="mb-3">
                                        {% for i in range(comment.feedback) %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                 fill="currentColor"
                                                 class="bi bi-star-fill fs-3" viewBox="0 0 16 16"
                                                 style="color: #FFD27D">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        {% if not current_user.teacher %}
                                            <a class="btn btn-danger"
                                               href="{{ url_for('admin.delete_comment', comment_id=comment.id) }}">delete</a>
                                            <a class="btn btn-warning"
                                            href="{{ url_for('admin.edit_comment', comment_id=comment.id) }}">edit</a>
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    {% else %}
                        <h3>Отзывов пока нет</h3>
                    {% endif %}
                    {% if not current_user.teacher %}
                        <a class="btn btn-primary fs-5"
                           href="{{ url_for('admin.add_comment', teacher_id=teacher.id) }}">Add comment</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}